/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: 'Bruno Ace SC', serif;
    line-height: 1.5;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}
a {
    text-decoration: none;
    display: block;
}
.container {
    margin: 0 auto;
    max-width: 1296px;
}
/*--menu--*/
.menuBar {
    height: 48px;
    padding-top: 40px;
    background-color: #000;
}
.menuList {
    justify-content: space-between;
}
.menuList h1, .menuList h3, .menuItem a{
    color: #D1D1D1;
}
.menuItem a:hover{
    opacity: .7;
    color: #00FFA3;
    transition: .4s;
}
/*--section1--*/
.indexBox {
    display: flex;
    align-items: center;
}
.indexBanner {
    background-color: #000;
    height: 992px;
    display: flex;
    align-items: center;
}
.bannerPhoto img {
    width: 636px;
    height: 848px;
}
.bannerText h2{
    color: #00FFA3;;
    font-size: 128px;
    text-align: right;
}
.bannerText h3{
    color: #FFFFFF;
    font-size: 64px;
}
.bannerButton {
    display: flex;
    justify-content: flex-end;
}
.bannerButton a {
    border-radius: 32px;
    background-color: #FFF;
    padding: 12px 24px;
    color: #000;
}
.bannerButton a:hover{
    border-radius: 32px;
    background-color: #00FFA3;
    padding: 12px 24px;
    color: #FFF;
    transition: .3s;
}
/*--section2--*/
.indexIntro {
    background: url(./img/background-img.png) no-repeat;
    padding: 160px 0;
}
.introBox {
    display: flex;
    justify-content: space-between;
}
.introImg {
    column-gap: 20px;
}
.introImg img{
    width: 196px;
    height: 600px;
}
.introText {
    color: #FFFFFF;
    width: 40%;
}
.introText h3 {
    font-size: 64px;
    padding-bottom: 36px;
}
.introText p {
    font-size: 24px;
    padding-bottom: 32px;
}
.introIcon {
    column-gap: 16px;
}
/*--section3--*/
.aboutBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutData {
    color: #15161D;
    width: 50%;
}
.dataItem {
    padding: 16px;
    width: 47.223%;
    border: 1px solid #E3E3E3;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
}
.dataItem h3, .dataItem h4 {
    font-size: 20px;
}
.aboutText {
    width: 40.5865%;
    padding: 160px 0;
}
.aboutText h2 {
    padding-bottom: 36px;
    color: #000;
    font-size: 64px;
}
.aboutText p {
    font-size: 24px;
    color: #15161D;
}
/*--section4--*/
.contactBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contactBox h3 {
    color: #FFF;
    font-size: 64px;
}
.contactBox img{
    width: 100px;
    height: 100px;
}
.indexContact {
    background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
    display: flex;
    padding: 96px 0;
}
.contactIcon {
    column-gap: 24px;
}
.iconItem img{
    width: 162px;
    height: 162px;
    border-radius: 40px;
}
.iconItem img:hover{
    border-radius: 40px;
    transition: .3s;
}
.contactIcon img:hover{
    box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.90), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}
/*--section5--*/
.indexProject {
    padding: 160px 0;
}
.projectBox {
    display: flex;
    column-gap: 24px;
}
.topBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.moreBtn a {
    width: 148px;
    color: #FFF;
    background-color: #000;
    padding: 12px 24px;
    border-radius: 32px;
}
.projectTitle h2{
    color: #000;
    font-size: 64px;
    margin-left: auto;
    width: 746px;
    padding-bottom: 16px;
}
.projectLeft {
    width: 43.738%;
}
.projectLeft img {
    height: 530px;
}
.projectRight {
    width: 90%;
}
.projectTop p {
    width: 100%;
    color: #15161D;
}
.projectBottom {
    margin-top: 28px;
    display: flex;
    column-gap: 24px;
}
.projectBottom img{
    height: 306px;
}
/*--footer--*/
.footer {
    padding: 40px 0;
    margin: auto 0;
    background-color: #000;
}
.footer h3 {
    text-transform:uppercase;
    text-align: center;
    color: #FFF;
}
/*-common-*/
.d-flex {
    display: flex;
}
.ms-1 {
    margin-left: 16px;
}
.ms-2 {
    margin-left: 24px;
}
.me-2 {
    margin-right: 24px;
}
.mb-1 {
    margin-bottom: 24px;
}
.gap-1{
    column-gap: 24px;
}